doctype html
html(lang="es")
	head 
		title="Not found"
		link(href="/css/bootstrap.css" rel="stylesheet")
		link(href="/css/bootstrap-theme.css" rel="stylesheet")
	body
		div(class="container center-block")
			h1(class="center-block text-center") Página no encontrada
			img(src="/img/404.png" class="img-rounded img-responsive center-block")