doctype html
html(lang="en")
	head
		title Sistema de ventas Versatil
		link(href="/css/bootstrap.css" rel="stylesheet")
		link(href="/css/bootstrap-theme.css" rel="stylesheet")
		link(href="/css/index.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body()
		div(class="container")
			div(class="row")
				div(class="col-md-8")
				div(class="col-md-4")
					button() Ver catalogo
					button() Iniciar sesión
			div(class="box-img block-center text-center")
				h1 Sistema de gestión de ventas
				img(src="/img/versa-logo.png" class="block-center box")
	div(class="footer")
		p Desarrollado en la materia de Gestión de proyectos de software
