doctype html
html(lang="en")
	head
		title Sistema de ventas Versatil
		link(href="/css/bootstrap.css" rel="stylesheet")
		link(href="/css/bootstrap-theme.css" rel="stylesheet")
		link(href="/css/index.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body()
		div(class="container")
			div(class="row")
				div(class="col-md-8")
				div(class="col-md-4")
					button() Ver catalogo
					-if(authenticate){
						button() 
							a(href="/logout") Cerrar sesi贸n
					-}else{
						button()
							a(href="/login") Iniciar sesi贸n
					-}
					
			div(class="box-img block-center text-center")
				h1 Sistema de gesti贸n de ventas
				img(src="/img/versa-logo.png" class="block-center box")
			//- if (message.length > 0)
			//- 		div(class="alert alert-danger")=message
	//- div(class="footer")
	//- 	p Desarrollado en la materia de Gesti贸n de proyectos de software ITChilpancigo
