doctype html
html(lang="es")
	head
		title Ventas versatil
		link(href="/css/bootstrap.css" rel="stylesheet")
		link(href="/css/bootstrap-theme.css" rel="stylesheet")
		link(href="/css/style.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
	body
		block content
	//- div(class="footer")
	//- 	p Desarrollado en la materia de Gestión de proyectos de software ITChilpancigo