#main-header {
	background: #4e6075;
	color: white;
	height: 80px;
	width: 100%; 
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	/*position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
/*		background-color: #a74544;
*/
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
	
html{
	background-color: #333F4D;
	font-family: 'Raleway',Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway',Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
/*	padding-top: 80px;
*/
}
.footer {
	position: fixed;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin-top: 5em;
  	padding: 0.1rem;
  	background-color: #efefef;
  	text-align: center;
}

a{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: white;
	margin-left: 0.3em;
}
a:link    {color:white;}  /* unvisited link  */
a:visited {color:white;}  /* visited link    */
a:hover   {color:white;}  /* mouse over link */
a:active  {color:white;} 

.header{
	background-color: #4D6076;
	font-family: 'Raleway', sans-serif;
}
.contenido{
	background-color: #333F4D;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #ececec;
}
.button{
	margin-top: 2em;
	background: none;
	border: none;
	color: white;
	font-size: 19px;
}
.icon{
	width: 19px;
	height: 19px;
}
.model{
	width: 150px;
	height: 150px;
}
.dp{
	margin-top: 0.5em;
	margin-left: 0.8em;
	margin-right: 0.8em;
}
.fo{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
}
button{
	font-family: 'Raleway', sans-serif;
}
span{
	font-family: 'Raleway', sans-serif;
}
.font18ligth{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
.separator{
	border-bottom: 1em;
}