extends ../layout
block content
	style().
		html{
			background-color: #ffffff;
		}
	div(class="container")
		div(class="panel panel-primary" style="margin-top:0.5em;")
				div(class="panel-heading" style="background:#4e6073;")
					h1(class="planel-title" style="font-size: 25px;text-align:center;") Agregar modelo
				div(class="panel-body" style="background:#f2f2f2;")
						form(method="post" action="/catalogo/add" class="form-horizontal" enctype="multipart/form-data")
							div(class="form-group")
								label(for="Modelo" class="col-sm-2 control-label") Imagen:
								div(class="col-sm-4")
									input(type="file" class="form-control " name="imagen" required)
							div(class="form-group")
								label(for="Modelo" class="col-sm-2 control-label") Modelo:
								div(class="col-sm-4")
									input(type="number" class="form-control " name="id_modelo" placeholder="Numero de modelo" disabled)
							div(class="form-group")
								label(for="Descripcion" class="col-sm-2 control-label") Descripción:
								div(class="col-sm-8")
									textarea(rows="6" class="form-control " name="descripcion" placeholder="Ingrese la descripción del modelo" required)
							div(class="form-group")
								label(for="Precio unitario" class="col-sm-2 control-label") Precio unitario:
								div(class="col-sm-4")
									input(type="number" class="form-control " name="precio_unitario" placeholder="precio unitario" required)
							div(class="form-group")
								label(class="col-sm-2")
								div(class="col-sm-3")
									button(type="submit" class="btn btn-success")
										span(class="glyphicon glyphicon-plus-sign fo") Agregar
									a(href="/catalogo" class="btn btn-danger") Cancelar
										span(class="glyphicon glyphicon-remove-sign")

