extends ../layout
block content
	div(class="container-fluid")
		div(class="row header text-center")
			h1(style="color:white; font-size:2em;") Versatil - Administrador
		div(class="row contenido")
			div(class="col-md-4 ")
			div(class="col-md-4 center-block")
				button(class="button text-center") 
					img(src="/icons/list.png" class="icon")
					a(href="/catalogo") Entrega pedidos
				button(class="button text-center")
					img(src="/icons/seating-guest.png" class="icon")
					a(href="/catalogo") Gestionar catalogo
			div(class="col-md-4")










