extends ../layout
block content
	div(class="container-fluid")
		div(class="row header text-center")
			h1(style="color:white; font-size:2em;") Versatil - Administrador
		div(class="row header text-right" style="padding-bottom:0.7em;")
			div(class="col-sm-10")
			div(class="col-sm-2 text-center")
				button(class="fa fa-user-times btn btn-danger")  
					a(href="/logout/")  Cerrar sesion
		div(class="row contenido")
			div(class="col-md-4 ")
			div(class="col-md-4 center-block")
				button(class="button text-center") 
					img(src="/icons/list.png" class="icon")
					a(href="/pedidos/entregas/") Entrega pedidos
				button(class="button text-center")
					img(src="/icons/seating-guest.png" class="icon")
					a(href="/catalogo_lista/") Gestionar catalogo
			div(class="col-md-4")










